<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterLogo>Experiences_Shared_Document_Folder/logo_1_png.png</emailFooterLogo>
    <emailSenderAddress>zerovizboss@gmail.com</emailSenderAddress>
    <emailSenderName>Lucky 7 Webmaster (CVMA 20-7)</emailSenderName>
    <embeddedLoginEnabled>false</embeddedLoginEnabled>
    <enableApexCDNCaching>false</enableApexCDNCaching>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableExpFriendlyUrlsAsDefault>false</enableExpFriendlyUrlsAsDefault>
    <enableExperienceBundleBasedSnaOverrideEnabled>true</enableExperienceBundleBasedSnaOverrideEnabled>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableImageOptimizationCDN>false</enableImageOptimizationCDN>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableLWRExperienceConnectedApp>false</enableLWRExperienceConnectedApp>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <headlessForgotPasswordTemplate>unfiled$public/CommunityHeadlessForgotPasswordTemplate</headlessForgotPasswordTemplate>
    <headlessRegistrationTemplate>unfiled$public/CommunityHeadlessRegistrationTemplate</headlessRegistrationTemplate>
    <networkAuthApiSettings>
        <doesForgotPasswordRequireAuth>false</doesForgotPasswordRequireAuth>
        <doesPasswordLoginRequireAuth>true</doesPasswordLoginRequireAuth>
        <doesPwdlessLoginRequireAuth>false</doesPwdlessLoginRequireAuth>
        <doesRegistrationRequireAuth>false</doesRegistrationRequireAuth>
        <isFirstPartyAppsAllowed>false</isFirstPartyAppsAllowed>
        <isForgotPwdAllowed>false</isForgotPwdAllowed>
        <isForgotPwdEmailTemplateAllowlistingEnabled>false</isForgotPwdEmailTemplateAllowlistingEnabled>
        <isHeadlessUserRegistrationAllowed>false</isHeadlessUserRegistrationAllowed>
        <isPwdlessLoginAllowed>false</isPwdlessLoginAllowed>
        <isRecaptchaRequiredForgotPwd>false</isRecaptchaRequiredForgotPwd>
        <isRecaptchaRequiredPwdlessLogin>false</isRecaptchaRequiredPwdlessLogin>
        <isRecaptchaRequiredRgstr>false</isRecaptchaRequiredRgstr>
        <isUniversalClientRgstrAllowed>false</isUniversalClientRgstrAllowed>
        <isUserDisambiguationAllowedForgotPwd>false</isUserDisambiguationAllowedForgotPwd>
        <isUserDisambiguationAllowedUsernamePwd>false</isUserDisambiguationAllowedUsernamePwd>
        <maxPasswordResetAttempts>5</maxPasswordResetAttempts>
        <recaptchaScoreThreshold>0.0</recaptchaScoreThreshold>
    </networkAuthApiSettings>
    <networkMemberGroups>
        <permissionSet>sfdc_chatbot_service_permset</permissionSet>
        <permissionSet>lightngcarousel__SF_Labs_Lightning_Carousel_Banner</permissionSet>
        <permissionSet>V2_Gdrive__GDrive_Connector_Admin_Permission</permissionSet>
        <permissionSet>V2_Gdrive__GDrive_connector_User_Permission</permissionSet>
        <permissionSet>CVMA_Guest_Scheduler_Access</permissionSet>
        <profile>Admin</profile>
        <profile>Standard</profile>
        <profile>Chatter Free User</profile>
        <profile>StandardAul</profile>
        <profile>Customer Community Plus User</profile>
        <profile>Customer Community User</profile>
        <profile>lucky7 Customer Community Plus User</profile>
        <profile>Lucky7 Customer Community User</profile>
        <profile>CCP User Sargeant At Arms</profile>
        <profile>Guest License User</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Combat_Veterams_Motorcycle_Association1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Combat_Veterams_Motorcycle_Association</site>
    <siteArchiveStatus>NotArchived</siteArchiveStatus>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
